<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <img src="/assets/imgs/menuIcon.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <p class="font-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam non, magni rem id, officiis
        cum adipisci, ea quis autem totam saepe. Quisquam qui illum molestiae nesciunt earum officia cupiditate.</p>
    </ion-col>
  </ion-row>
</ion-content>