ion-content {
    --padding-bottom: 0px;

    .mapCont {
        height: 92vh;

        .mapImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .topContainer {
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        z-index: 2255;

        .loctionsCont {
            width: 90%;
            border-radius: 10px;
            margin: 0px auto;
            box-shadow: 1px 2px 20px 0px rgba(169, 162, 161, 0.418);
            background-color: white;
            display: flex;
            align-items: center;
            padding: 18px 25px;

            .pinIconCont {
                margin-right: 15px;
            }

            .loctCont {
                width: 92%;

                .loct {
                    p {
                        margin: 0px;
                    }

                    p:last-child {
                        padding-top: 3px;
                    }
                }

                .hrLine {
                    height: 1.5px;
                    width: 100%;
                    margin: 8px 0px;
                    background-color: #DEE2E5;
                }
            }
        }
    }

    .btmContainer {
        position: absolute;
        bottom: 35px;
        left: 0px;
        width: 100%;
        z-index: 2255;

        .selectCard {
            width: 90%;
            border-radius: 10px;
            margin: 0px auto;
            box-shadow: 1px 2px 20px 0px rgba(169, 162, 161, 0.418);
            background-color: white;
            padding: 22px 18px;

            .inputCont {
                --padding-start: 12px;
                --padding-end: 15px;
                --inner-padding-end: 0px;
                --min-height: 50px;
                border: 1px solid #B8C0C3;
                border-radius: 6px;
                --border-radius: 6px;
                margin-top: 10px;

                .carIcon {
                    margin: 0px 10px 0px 0px;
                }

                ion-select {
                    --color: var(--ion-color-secondary);
                    font-size: 14px;
                    width: 100%;
                    --padding-end: 0px;
                }

                ion-select::part(icon) {
                    display: none !important;
                }

                .downArrow {
                    color: var(--ion-color-secondary);
                    font-size: 24px;
                    margin: 0px;
                }
            }

            .inputTitle {
                font-size: 12px;
                margin: 5px 0px;
                color: var(--ion-color-medium);
            }
        }
    }

}

.popupModal {

    .innerDiv {
        padding: 25px 0px 15px 0px;
        color: var(--ion-color-secondary);

        .modalBody {
            height: 45vh;
            overflow-y: scroll;
            padding: 0px 13px 15px 13px;
        }

        .radioCont {
            --padding-start: 16px;
            --padding-end: 16px;
            --inner-padding-end: 0px;
            --min-height: 80px;
            box-shadow: 1px 1px 16px 0px rgb(169 162 161 / 14%);
            border-radius: 8px;
            --border-radius: 8px;
            margin-top: 15px;

            ion-radio {
                margin: 0px 0px 0px 15px;
            }

            .vehicleIcon {
                margin: 0px 10px 0px 0px;
                height: 20px;
                width: 58px;
                object-fit: cover;
            }

            ion-label {
                margin: 0px;
                font-size: 13px;
                --color: var(--ion-color-secondary);
            }
        }

        .loginBtn {
            height: 50px;
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
}