<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Select Trip Type</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <img src="/assets/imgs/menuIcon.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mapCont">
    <img src="/assets/imgs/map2.png" class="mapImg">
  </div>
  <div class="topContainer">
    <div class="loctionsCont">
      <div class="pinIconCont">
        <img src="/assets/imgs/pinIcon.svg">
      </div>
      <div class="loctCont">
        <div class="loct">
          <p class="font-15 bold secondary">Home</p>
          <p class="font-12 gray">51 Sharon St</p>
        </div>
        <div class="hrLine"></div>
        <div class="loct">
          <p class="font-15 bold secondary">Little Park</p>
          <p class="font-12 gray">85 W Broadway, NY</p>
        </div>
      </div>
    </div>
  </div>

  <div class="btmContainer">
    <div class="selectCard">
      <ion-item lines="none" class="tripCont">
        <ion-select [(ngModel)]="tripType">
          <ion-select-option value="express">Express Trip</ion-select-option>
          <ion-select-option value="shared">Shared Trip</ion-select-option>
          <ion-select-option value="houseMove">House Move</ion-select-option>
        </ion-select>
        <ion-icon slot="end" color="secondary" name="chevron-down"></ion-icon>
      </ion-item>
      <ion-button (click)="selectedTrip()" color="primary" class="loginBtn mt-1" expand="block">Contiune</ion-button>
    </div>
  </div>
</ion-content>

<div *ngIf="showModal" class="popupModal">
  <div class="innerDiv">
    <h2 class="despMsg">Could your pickup and drop off
      address have storeys (floors)?</h2>
    <ion-row>
      <ion-col size="6" class="pl-0">
        <ion-button (click)="showModal=false;" routerLink="/item-list" color="primary" fill="outline" class="loginBtn" expand="block">
          No
        </ion-button>
      </ion-col>
      <ion-col size="6" class="pr-0">
        <ion-button (click)="showModal=false;" routerLink="/house-floors" color="primary" class="loginBtn"
          expand="block">
          Yes
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>