<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="end" contentId="main-content" type="overlay">
      <ion-header>
        <ion-menu-toggle auto-hide="false">
          <div class="txtCont">
            <img src="/assets/imgs/user2.png" class="userImg">
            <p class="name">Hannah Baker</p>
            <div class="rating">
              <ion-icon name="star" color="tertiary"></ion-icon>
              <p class="font-17 my-0">4.9</p>
            </div>
          </div>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="[p.url]" lines="full"
            detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
            <ion-icon slot="end"  name="chevron-forward" class="detailIcon"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-menu-toggle auto-hide="false">
                <ion-button routerLink="/login" expand="block" shape="round" color="secondary" class="bold font-14">
                  Logout</ion-button>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>