ion-header {
    ion-toolbar {
        ion-title {
            text-transform: none !important;
            padding-inline-start: 45px;
            padding-inline-end: 45px;
        }
    }
}

ion-content {
    --padding-bottom: 0px;

    .mapCont {
        height: 92vh;

        .mapImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .topContainer {
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        z-index: 2255;

        .loctionsCont {
            width: 90%;
            border-radius: 10px;
            margin: 0px auto;
            box-shadow: 1px 2px 20px 0px rgba(169, 162, 161, 0.418);
            background-color: white;
            display: flex;
            align-items: center;
            padding: 18px 25px;

            .pinIconCont {
                margin-right: 15px;
            }

            .loctCont {
                width: 92%;

                .loct {
                    p {
                        margin: 0px;
                    }

                    p:last-child {
                        padding-top: 3px;
                    }
                }

                .hrLine {
                    height: 1.5px;
                    width: 100%;
                    margin: 8px 0px;
                    background-color: #DEE2E5;
                }
            }
        }
    }

    .btmContainer {
        position: absolute;
        bottom: 35px;
        left: 0px;
        width: 100%;
        z-index: 2255;

        .selectCard {
            width: 90%;
            border-radius: 10px;
            margin: 0px auto;
            box-shadow: 1px 2px 20px 0px rgba(169, 162, 161, 0.418);
            background-color: white;
            padding: 22px 18px;

            .inputCont {
                --padding-start: 20px;
                --padding-end: 15px;
                --inner-padding-end: 0px;
                --min-height: 50px;
                border: 1px solid #B8C0C3;
                border-radius: 6px;
                --border-radius: 6px;

                ion-input {
                    --padding-end: 0px;
                    font-size: 14px;
                    --placeholder-opacity: 0.8;
                    --color: var(--ion-color-secondary);
                }
                .hrLine2
                {
                    height: 25px;
                    width: 1px;
                    background-color: #E4E9F2;
                }
                .itemInput
                {
                    min-width: 70%;
                    --padding-end: 5px !important;
                }
                .addBtnCont {
                    margin: 0px 0px 0px 10px;
                    height: 25px;
                    width: 40px;
                    min-width: 40px;
                    border-left: 1px solid #E4E9F2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    ion-icon
                    {
                        font-size: 24px;
                    }
                }

                &.detailItem {
                    --min-height: 42px;
                    --padding-start: 5px;
                    --padding-end: 5px;

                    ion-input {
                        text-align: center;
                        font-size: 13px;
                    }
                }
            }

            .inputTitle {
                font-size: 12px;
                margin: 5px 0px;
                color: var(--ion-color-medium);
            }
        }
    }

}