ion-content
{
    --padding-top: 2.7em;
    .imgCont
    {
        text-align: center;
        .userImg
        {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
        p
        {
            margin: 10px 0px 0px 0px;
            font-size: 12px;
        }
    }
    .inpuCont
    {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0px;
        --border-color: #DEE2E5;
        --min-height: 55px;
        margin-top: 15px;
        ion-label
        {
            margin-bottom: 3px;
        }
        ion-input
        {
            --color: var(--ion-color-secondary);
            font-size: 14px;
            --placeholder-opacity: 1;
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 10px;
            --padding-bottom: 10px;
        }
        .eyeIcon
        {
            margin: 0px 0px 10px 8px;
            font-size: 21px;
            color: var(--ion-color-medium);
            align-self: flex-end;
        }
    }
    .checkBox {
        margin-top: 15px;
        --background: transparent;
        --padding-start: 0px;
        --padding-end:0px;
        --inner-padding-end: 0px;
        --min-height: 40px;
        ion-checkbox {
            margin: 0px 15px 0px 0px;
            height: 20px;
            width: 20px;
            --border-radius: 4px;
            --checkmark-width: 2px;
        }
    }
}

ion-footer
{
    ion-toolbar
    {
        .bottomTxt
        {
            font-size: 13px;
            color: var(--ion-color-secondary);
        }
    }
}