<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Referrals</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <img src="/assets/imgs/menuIcon.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" class="ion-text-center">
      <img src="/assets/imgs/GiftIcon.svg" class="mb-1">
      <h2 class="bold">50% off your next ride!</h2>
      <p class="font-14">Invite your friends and get 50% off your next 5 rides when they start using the app</p>
      <ion-button color="primary" class="inviteBtn">Invite Friends</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="font-14 my-0">Your invitation code</p>
    <div class="whatsappLink">
      <p>UUR3YYT1G</p>
      <ion-icon color="secondary" name="logo-whatsapp"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
