ion-header
{
    ion-toolbar
    {
        --padding-top: 30px !important;
        --padding-bottom: 10px;
        .txtCont
        {
            width: 55%;
            p,h4
            {
                margin: 0px;
            }
            h4
            {
                padding-top: 5px;
            }
        }
    }
}

ion-content
{
    --background: url("/assets/imgs/map1.png") no-repeat center center / cover !important;
    --padding-top: 1.5em;
    .searchBarCont
    {
        --padding-start: 15px;
        --padding-end: 15px;
        --inner-padding-end: 0px;
        --min-height: 55px;
        border-radius: 10px;
        --border-radius: 10px;
        box-shadow: 1px 2px 20px 0px rgba(169, 162, 161, 0.418);
        ion-icon
        {
            color: var(--ion-color-secondary);
        }
        ion-label
        {
            margin: 0px;
            font-size: 14px;
            color: var(--ion-color-secondary);
        }
        .locIcon
        {
            font-size: 25px;
            margin: 0px 18px 0px 0px;
        }
        .detailIcon
        {
            font-size: 22px;
            margin: 0px 0px 0px 10px;
        }
    }
}