ion-content
{
    --padding-top: 0.5em;
    .notifiyCont
    {
        --padding-start: 20px;
        --padding-end: 20px;
        --inner-padding-end: 0px;
        --min-height: 100px;
        --background: white;
        ion-label
        {
            margin: 0px;
            p
            {
                margin: 0px;
                line-height: normal;
                color: var(--ion-color-secondary);
            }
            p:last-child
            {
                padding-top: 8px;
            }
        }
        .detailIcon
        {
            margin: 0px 0px 0px 7px;
            font-size: 25px;
            color: var(--ion-color-secondary);
        }
        &.bgColored
        {
            --background: #F2F2F2;
        }
    }
}