<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <img src="/assets/imgs/menuIcon.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="notifiyCont">
    <ion-label class="ion-text-wrap">
      <p class="font-15">4 min ago</p>
      <p class="font-15">Unable to process card</p>
    </ion-label>
    <ion-icon class="detailIcon" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item lines="none" class="notifiyCont bgColored">
    <ion-label class="ion-text-wrap">
      <p class="font-15">2 Hours ago</p>
      <p class="font-15">Jamison Qouted on Your Trip :)</p>
    </ion-label>
    <ion-icon class="detailIcon" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item lines="none" class="notifiyCont">
    <ion-label class="ion-text-wrap">
      <p class="font-15">Yesterday</p>
      <p class="font-15">Important changes to our Terms & Conditions</p>
    </ion-label>
    <ion-icon class="detailIcon" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item lines="none" class="notifiyCont bgColored">
    <ion-label class="ion-text-wrap">
      <p class="font-15">3 days ago</p>
      <p class="font-15">Hannah Bakers Qouted on Your Trip :)</p>
    </ion-label>
    <ion-icon class="detailIcon" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item lines="none" class="notifiyCont">
    <ion-label class="ion-text-wrap">
      <p class="font-15">Saturday 14/6/19</p>
      <p class="font-15">Follow us on social media to keep track of our latest updates</p>
    </ion-label>
    <ion-icon class="detailIcon" name="chevron-forward"></ion-icon>
  </ion-item>
</ion-content>
